h1 {
  font-size: 30px;
}

header {
  -webkit-box-shadow: 0px 8px 27px 1px rgba(227,227,227,1);
  -moz-box-shadow: 0px 8px 27px 1px rgba(227,227,227,1);
  box-shadow: 0px 8px 27px 1px rgba(227,227,227,1);
}

.App {
  text-align: center;
}

.shelf-titles {
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 900px;
	margin: 0 auto 20px;
  overflow: hidden;
  box-sizing: border-box;
  position:relative;
}

.App-header, .search-header {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);  
  padding: 20px;
  color: white;
}

/* https://codepen.io/martinwolf/pen/eNNdme?editors=1100 */
.cool-link {
  display: inline-block;
  color: rgb(255, 175, 155);
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(255, 175, 155);
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
}

.search-link, .back-to-home {
  color: #eee;
}

.book-shelf {
  color: black;
}

.book-container {
  /* flex: 1; */
  display: flex;
  width: 80%;
  max-width: 480px;
  min-height: 260px;
  margin: 0 10px 30px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 30px 25px;
  box-shadow: 0px 14px 50px 1px rgba(189,193,212,1);
  -webkit-box-shadow: 0px 14px 50px 1px rgba(189,193,212,1);
  -moz-box-shadow: 0px 14px 50px 1px rgba(189,193,212,1);
  background: rgb(250, 249, 249);  
}

.book-shelf {
  box-sizing: border-box;
  float: left;
  width: 33%;
  line-height: 5;
}

.book-shelf-container {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  margin: 0 auto;
}

.book-cover, .book-info {
  width: 50%;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-title, .book-author{
  text-align: left;
}

.book-title {
  font-size: 20px;
  margin-top: 0;
  flex: 1 0 auto;
}

.book-author {
  color: rgb(97, 106, 114);
  margin-bottom: 30px;
}

.book-info select {
  font-size: 18px;
  border-radius: 50px;
  height: 40px;
  padding: 0 25px; 
}

/* ***
style for search_book page 
*** */
.search-header {
  margin-bottom: 50px;
}

.search-header input {
  display: block;
  width: 80%;
  height: 54px;
  margin: 20px auto;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

@media only screen and (max-width: 1673px) {
  .book-shelf-container {
    justify-content: space-evenly;
  }
}